@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary-cyan:  hsl(179, 62%, 43%);
    --primary-light-cyan:  hsl(179, 62%, 57%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --neutral-light-gray: hsl(204, 43%, 93%);
    --neutral-grayish-blue: hsl(218, 44%, 91%);
}

*{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body{
    background: var(--neutral-grayish-blue);
    max-width: 960px;
    margin: 60px auto 60px auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.container{
    display: grid;
    max-width: 750px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "main main"
    "sub1 sub2";
}

.main{
    grid-area: main;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: #ffffff;
}

.sub{
    grid-area: sub1;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: var(--primary-cyan);
}

.list{
    grid-area: sub2;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: var(--primary-light-cyan);
}


ul{
    padding-left: 0;
}

li{
    list-style: none;
}

@media (max-width: 500px){

    body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "main"
        "sub1"
        "sub2";
    }

    .main{
        grid-area: main;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .sub {
        grid-area: sub1;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    .list {
        grid-area: sub2;
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

}